/****reset css****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
button {
  outline: none;
  appearance: none;
}
/*****common classes***/

@font-face {
  font-family: 'OpenSans-regular';
  src: url('../fonts/OpenSans-regular.ttf'),
        url('../fonts/OpenSans-regular.svg'),
        url('../fonts/OpenSans-regular.woff'),
        url('../fonts/OpenSans-regular.woff2'),
        url('../fonts/OpenSans-regular.eot');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf'),
        url('../fonts/OpenSans-Bold.svg'),
        url('../fonts/OpenSans-Bold.woff'),
        url('../fonts/OpenSans-Bold.woff2'),
        url('../fonts/OpenSans-Bold.eot');
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf'),
        url('../fonts/OpenSans-Semibold.svg'),
        url('../fonts/OpenSans-Semibold.woff'),
        url('../fonts/OpenSans-Semibold.woff2'),
        url('../fonts/OpenSans-Semibold.eot');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf'),
        url('../fonts/OpenSans-Light.svg'),
        url('../fonts/OpenSans-Light.woff'),
        url('../fonts/OpenSans-Light.woff2'),
        url('../fonts/OpenSans-Light.eot');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.ttf'),
        url('../fonts/OpenSans-ExtraBold.svg'),
        url('../fonts/OpenSans-ExtraBold.woff'),
        url('../fonts/OpenSans-ExtraBold.woff2'),
        url('../fonts/OpenSans-ExtraBold.eot');
}
.container{
  padding:0 30px;
}

.inner-pd{
  padding:0 20px;
}
.flex-wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center; */
}
/*****top menuu bar*****/

.main-menu {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5)
}

.menu-content {
    display: table;
    width: 100%;
}

.logo-block, .menu-list, .search-cart {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
}

.logo-block {
    width: 30%;
}

.menu-list{
  width: 60%;
  color:#fff;
  text-transform: uppercase;
}

.search-cart{
  width:10%;
  padding-left:20px;
}

.menu-list li {
    display: inline-block;
    width: 25%;
    float: left;
    font-size: 21px;
    position: relative;
}

.menu-list li span{
  position: relative;
}

.menu-list li:first-child span:before,.menu-list li:nth-child(2) span:before  {

  border-top:5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -1px;

}

.search-cart span {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px auto;
    cursor: pointer;

}

.search-cart span:first-child{
  background-image: url("../images/search.png");
  float: left;
}

.search-cart span:last-child{
  background-image: url("../images/cart.png");
  float: right;
}

/****main banner***/
.bn-img-block img {
  width: 100%;
  height: 1000px;
}

section.top-swiper {
    position: relative;
}

.swiper-slide{
  position: relative;
}


.swiper-pagination.swiper-pagination-bullets {
    position: absolute;
    bottom: 15px;
    z-index: 10;
}

.cat-block {
    margin-top: 30px;
}
.swiper-pagination-bullet {
    background: #ffffff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ad061a;
}

.bn-content-block {
    position: absolute;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    right: 48%;
    top: 40%;
}

.bn-content-block a {
  color:#fff;
  text-decoration: none;
}

.bn-content-block p{
  font-size:40px;
  font-family: 'OpenSans-Light';
  font-size: 56px;
}


.bn-content-block a span{
  height: 50px;
  width: 190px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  margin-top:30px;
  background-color: #313131;
  transition: 0.3s;
  font-family: 'OpenSans-Semibold';
  font-size: 20px;
}

.bottom-list li a:hover {
  color:#dd0c2c;
}

.bn-content-block a span:hover{
background-color: #dd0c2c;
    transform: scale(1.1);
  }

.cat-content {
    border-radius: 20px;
    background-color: #e6e6e6;
    display: table;
    width:100%;
}

.cat-img,.cat-desc {
    display: table-cell;
    vertical-align: middle;
    height: 770px
}

.cat-img{
  width: 50%;
  position: relative;
}

.cat-desc{
  width:50%;
  padding: 0 50px;
  color:#b5b5b5;
  position: relative;
}

.cat-img img{
  width: auto;
  height: 770px
}

.cat-img img {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cat-img span {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #666;
    top: 0;
    left: 0;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.cat-title span {
    display: block;
    font-size: 107px;
    text-transform: uppercase;
    font-family: 'OpenSans-ExtraBold';
}

.food-pre .cat-title span:last-child,.cooking-app .cat-title span:last-child {
  font-size: 107px;
}

.cat-title span:first-child {
  font-size: 107px;
}

.cat-title span:last-child {
  font-size: 147px;
}

.cat-title p {
    font-size: 28px;
    font-family: 'OpenSans-Light';
    line-height: 36px;
}

/****product section****/
.product-item {
  background-color: #eaeaea;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
}

.addto-cart {
    text-align: left;
    font-size: 20px;
}

.item-wrap {
    text-align: left;
}

.item-img-block {
    text-align: center;
    margin: 20px 0;
    height: 350px;
}

.product-name {
    text-transform: capitalize;
    font-size:22px;
      font-family: 'OpenSans-Bold';

}

.item-price {
    font-size: 26px;
}


.stars span {
    height: 22px;
    width: 22px;
    display: inline-block;
    background-image: url(../images/star1.png);
    background-repeat: no-repeat;
}

.stars span.gold {
    background-image: url(../images/star.png);
}

.stars,.star-count{
  display: inline-block;
  vertical-align: middle;
}

.rating-block {
    margin: 5px 0;
}

.add-btn {
    text-align: center;
    margin-top: 30px;
}

.add-btn button {
    height: 50px;
    line-height: 50px;
    width: 225px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
}
.add-btn button:hover {
  background-color: #dd0c2c;
  transform: scale(1.1);
}

.product-list .swiper-slide{
  background-color: transparent;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/arrow.png");
    left:-8px;
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/arrow.png");
    transform:rotate(180deg);
    right:-8px;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next,.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-size: 10px auto;
  }


  .product-container {
      padding: 50px 30px;
      box-sizing: border-box;
  }

  span.old-price {
    text-decoration: line-through;
}

span.new-price {
    color: #d1123b;
    font-weight: bold;
    display: inline-block;
    margin-left: 7px;
    animation: price 0.5s ease-out infinite alternate-reverse;
}

.view-btn button {
    width: 300px;
    height: 55px;
    border: none;
    color: #fff;
    background-color: #dd0c2c;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: 0.4s;
    font-size: 22px;
}
.view-btn button:hover {
  background-color: #2c2c2c;
}

.view-btn {
    text-align: right;
    position: relative;
    margin-top: 30px;
}

.view-btn:before {
    height: 1px;
    width: 100%;
    background-color: #000;
    content: "";
    top: 50%;
    position: absolute;
    left: 0;
}


/*****making block*****/
section.making-dough {
  height: 790px;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
}

.making-dough .container {
    width: 100%;
    box-sizing: border-box;
}

section.making-dough {
    height: 790px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url(../images/do.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.right-text,.left-text {
    font-size: 60px;
    position: absolute;
    top: 50%;
}

.bottom-list {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
}

.bottom-list li {
    display: inline-block;
    padding: 0 50px;
    border-right: 1px solid #fff;
    font-size: 14px;
}

.bottom-list li a{
  color:#fff;
  text-decoration: none;

}



.bottom-list li:last-child {
  border-right:none;
}

.right-text {
    right: 7%;
        font-family: 'OpenSans-ExtraBold';
}

.left-text {
    left: 7%;

}

.cooking-app .cat-title span.bottom-title{
  font-size: 73px
}

.right-text span {
    display: block;
}

span.chef-name {
    font-size: 18px;
    text-align: right;
    margin-top: 20px;
    font-style: italic;
}

.food-pre .cat-desc{
  width:40%;
  padding: 0 30px;
}

.food-pre .cat-img{
  width:60%;
}

.food-pre .cat-img span {
    top: 0;
    left: 0;
    background-image: url(../images/bg2.jpg);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.cooking-app .cat-desc{
  width:40%;
  padding: 0 30px;
}

.cooking-app .cat-img{
  width:60%;
}



.cooking-app .cat-img span {
    background-image: url(../images/bg3.jpg);
  }


  .food-pre .cat-desc-txt,.cooking-app .cat-desc-txt {
      position: absolute;
      z-index: 10;
      left: 30px;
      top: 35%;
  }


  .food-pre .cat-title p,.cooking-app .cat-title p {
      padding-right: 40px;
  }


  /*****pot block******/
  .iconic{
      background-color: #000;
      margin: 220px 0 150px 0;
  }


  .iconic-block {
  height: 770px;
  color: #fff;
  /* margin: 0 175px; */
  position: relative;
}

.iconic-block .add-btn button {
    line-height: 50px;
    width: 200px;
    text-transform: uppercase;
    background-color: #e70d2f;
}

.left-txt-block, .right-txt-block {
    position: absolute;
    top: 40%;
    z-index: 10;
}

.left-txt-block{
  left:8%;
  z-index: 1;
}

.left-txt-block .add-btn{
  text-align: left;
}

.right-txt-block {
  right:7%;
  z-index: 2;
}

.middle-pot-block {
    position: absolute;
    /* left: 50%; */
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 67%;
    z-index: 2;
}
.icon-txt {
  font-size: 155px;
  font-family: 'OpenSans-ExtraBold';
  color:#b1b1b1;
}
.icon-para {
  max-width: 250px;
  width: 100%;
  line-height: 21px;
}

.middle-pot-block img {
    width: 100%;
}

/* Animations Starts */
@keyframes price {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);

  }
}
/* Animations Ends */

body{
  font-family: 'OpenSans-regular';
  font-size:16px;
}

.bn-content-block p >span {
    font-family: 'OpenSans-Bold';
}

.item-img-block img {
    height: 100%;
    width: auto;
}

/* Footer Starts */
footer section.upper-footer {
  background-color: #e0e0e0;
  padding: 60px 80px;
}
footer .solution-wrp li a,
footer .solution-wrp > p,
footer .visa-links a,
footer .visa-links p {
  text-decoration: none;
  font-size: 13px;
  color: #8c8c8c;
  font-family: 'OpenSans-Regular';
  line-height: 20px;
}
footer .foo-solutions {
  width: 100%;
}
footer .solution-wrp > p:first-child {
  font-family: 'OpenSans-Bold';
  color: #777676;
  margin-bottom: 10px;
}
footer .line {
  height: 100%;
  width: 2px;
  background-color: #fff;
}
footer .sub-input {
  margin-top: 20px;
  justify-content: flex-start;
}
footer .sub-input input {
  background-color: transparent;
  border: 1px solid #8c8c8c;
  padding: 5px 10px;
  outline: none;
  appearance: none;
  font-size: 12px;
}
footer .sub-input button {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  font-family: 'OpenSans-Regular';
}
footer .visa-links a {
  text-transform: capitalize;
}
footer .visa-links p {
  text-align: center;
  margin: 30px 0;
}
footer .visa-wrp {
  text-align: center;
}

.visa-wrp {
    padding: 50px 0;
}

/* Footer Ends */

.close-btn{
  display: none;
}

@media screen and (max-width:1366px){

  .menu-list li {
      font-size: 14px;
  }

  .logo-block img {
    height: 30px;
    width: auto;
}

.logo-block, .menu-list, .search-cart {
    height: 60px;
}

.logo-block {
    width: 25%;
}

.menu-list {
    width: 65%;
}

.search-cart span {
    background-size: 20px auto;
}

.bn-content-block p {
    font-size: 45px;
}

.bn-content-block a span {
    margin-top: 20px;
}

.cat-title span:first-child {
    font-size: 60px;
}

.cat-title span:last-child {
    font-size: 90px;
}

.cat-title p {
    font-size: 20px;
    line-height: 23px;
}

.addto-cart {
    font-size: 16px;
}

.item-img-block {
    height: 230px;
}

.product-name {
    font-size: 18px;
}

.item-price {
    font-size: 18px;
}

.add-btn button {
    height: 40px;
    line-height: 40px;
    width: 180px;
    font-size: 16px;
}

.view-btn button {
    width: 200px;
    height: 45px;
    font-size: 18px;
}

.right-text, .left-text {
    font-size: 40px;
}

.food-pre .cat-title span:last-child, .cooking-app .cat-title span:last-child {
    font-size: 60px;
}

.icon-txt {
    font-size: 108px;
}

.iconic-block .add-btn button {
    line-height: 40px;
}

.iconic {
    margin: 140px 0 90px 0;
}

.iconic-block {
    height: 550px;
}

.cat-img, .cat-desc {
    height: 500px;
}



}

@media screen and (max-width: 1200px){

  .logo-block img {
    height: 25px;
}

.container {
    padding: 0 10px;
}

.inner-pd {
    padding: 0 10px;
}

.logo-block {
    width: 20%;
}

.menu-list {
    width: 70%;
}

.menu-list li {
    font-size: 12px;
}

.logo-block, .menu-list, .search-cart {
    height: 50px;
}

.bn-content-block p {
    font-size: 30px;
}

.bn-content-block a span {
    height: 40px;
    width: 150px;
    line-height: 40px;
    margin-top: 15px;
    font-size: 16px;
}

.bn-img-block img {
    height: 600px;
}

.cat-title p {
    font-size: 18px;
    line-height: 21px;
}

.cat-title span:first-child {
    font-size: 50px;
}

.cat-title span:last-child {
    font-size: 70px;
}

.item-img-block {
    height: 150px;
}

.product-name {
    font-size: 14px;
}

.item-price {
    font-size: 14px;
}

.add-btn button {
    height: 35px;
    line-height: 35px;
    width: 150px;
    font-size: 14px;
}

.right-text, .left-text {
    font-size: 32px;
}

.cat-title span:first-child {
    font-size: 40px;
}

.food-pre .cat-title span:last-child, .cooking-app .cat-title span:last-child {
    font-size: 50px;
}

.cat-title p {
    font-size: 16px;
    line-height: 19px;
}

.iconic-block {
    height: 400px;
}

.icon-txt {
    font-size: 82px;
}

.iconic {
    margin: 100px 0 90px 0;
}

.iconic-block .add-btn button {
    line-height: 35px;
    width: 150px;
}

.add-btn {
    margin-top: 10px;
}

.view-btn button {
    width: 150px;
    height: 40px;
    font-size: 16px;
}


/****footer***/
  footer .line{
    display: none;
  }

  .foo-subscribe.solution-wrp {
    margin-top: 30px;
}



}

@media screen and (max-width:767px){

  .cat-img, .cat-desc {
    display: block;
    width:100%;
    height: auto;
     box-sizing: border-box;
}

.cat-desc {
    padding: 20px;
}

.cat-title span:first-child {
    font-size: 30px;
}

.cat-title span:last-child {
    font-size: 40px;
}

.cat-img {
    height: 150px;
}

.cat-img span {
    background-position: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.food-pre .cat-img {
    width: 100%;
}

.food-pre .cat-img span {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.food-pre .cat-desc-txt, .cooking-app .cat-desc-txt {
    position: static;
}

.food-pre .cat-desc {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.food-pre .cat-title span:last-child, .cooking-app .cat-title span:last-child {
    font-size: 30px;
}

.cooking-app .cat-img {
    width: 100%;
}

.cooking-app .cat-desc {
    width: 100%;
    padding: 20px;
}

section.making-dough {
    height: 400px;
    background-size: cover;
}

.right-text, .left-text {
    font-size: 20px;
}



.right-text {

    text-align: right;
}

span.chef-name {
    font-size: 14px;
    text-align: right;
    margin-top: 5px;
    font-style: italic;
}

.left-text {
    top: 50%;
    left: 10px;
}

.right-text {
    top: 57%;
    right: 10px;
}

.bottom-list li {
    padding: 0px 30px;
    font-size: 14px;
}

.icon-txt {
    font-size: 30px;
    z-index: 20;
}



.left-txt-block, .right-txt-block {
    position: absolute;
    top: 10%;
    z-index: 10;
}

.iconic-block {
    height: 250px;
}

.middle-pot-block {
    position: absolute;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 67%;
    z-index: 2;
}


.iconic {
    margin: 30px 0 30px 0;
}

.product-container {
    padding: 30px 30px;
}

.menu-content {
    position: relative;
}

.menu-list {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 20;
    padding-top: 50px;
        transform: translateX(100%);
        transition: 0.5s;
}

.main-menu {
    /* position: relative; */
    z-index: 20;
}

.menu-list li {
    display: inline-block;
    width: 100%;
    float: none;
    position: relative;
    font-size: 20px;
    padding-left: 20px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}

.search-cart {
    width: 30%;
    padding-left: 0;
    padding-right: 40px;
}

.mob-icon span {
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin-bottom: 3px;
}

.mob-icon {
  display: table-cell;
  vertical-align: middle;

}

.mob-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 10%;
}

.menu-list.active {
      transform: translateX(-52.5%);

}

span.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.bn-img-block img {
    height: 260px;
}

.bn-content-block {
    text-align: center;
    right: 0;
    top: 40%;
    width: 100%;
}

/****footer*****/
footer section.upper-footer {
  background-color: #e0e0e0;
  padding: 30px 10px;
}

.solution-wrp {
    margin-top: 20px;
}

.visa-links li{
  width: 30%;
}

.close-btn{
  display: inline-block;
}

}
